.footer-container {
    padding: 20px 0px;

    .content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wrp-itm-nv-footer {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            gap: 12px;

            .itm-nv-footer {
                .link-nv-footer {
                    padding: 0px 14px;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }

        .txt-footer {
            display: flex;
            flex-direction: column;

            .txt-a,
            .txt-b {
                color: #D8D8D8;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}