.header-container {
    background: linear-gradient(180deg, #121213, #1212138c, #12121300) border-box;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.nv-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    .cntnt-left-nv-header {
        flex: 1;
    }

    .cntnt-right-nv-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrp-itm-nv-header {
        display: flex;
        align-items: center;
        margin: auto;
        gap: 12px;
        padding: 0;
        list-style: none;

        .itm-nv-header {
            .link-nv-header {
                height: 87px;
                display: block;
                line-height: 87px;
                padding: 0px 14px;
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-weight: 300;
            }
        }
    }

    .contact-nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .flex-txt-icon {
        font-size: 14px;
        color: #D8D8D8;
        width: fit-content;
        text-decoration: none;
    }

    .icon {
        width: 16px;
        height: 16px;
    }
}