.call-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #D8D8D8;
    /* couleur du contour */
    position: relative;
}

.call-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cpath d='M8.71152 4.11612L8.17417 2.90809C7.8235 2.11874 7.64749 1.72406 7.38482 1.42139C7.0562 1.04233 6.62733 0.76365 6.14746 0.617367C5.76478 0.500031 5.33277 0.500031 4.46742 0.500031C3.20338 0.500031 2.57137 0.50003 2.04069 0.742703C1.38604 1.06077 0.879302 1.61909 0.625988 2.30141C0.435316 2.85209 0.489984 3.41877 0.59932 4.55346C1.76379 16.6204 8.37996 23.2361 20.4478 24.4006C21.5812 24.51 22.1479 24.5646 22.6999 24.374C23.3814 24.1207 23.9392 23.6145 24.2572 22.9606C24.4999 22.4286 24.4999 21.7966 24.4999 20.5325C24.4999 19.6672 24.4999 19.2352 24.3826 18.8525C24.2363 18.3726 23.9576 17.9437 23.5786 17.6151C23.2772 17.3524 22.8812 17.1778 22.0919 16.8258L20.8838 16.2898C20.0278 15.9097 19.6011 15.7191 19.1664 15.6777C18.7503 15.6378 18.3305 15.6962 17.9411 15.8484C17.5344 16.0071 17.1757 16.3058 16.4557 16.9058C15.7397 17.5018 15.3823 17.7991 14.945 17.9591C14.5252 18.1043 14.0775 18.1504 13.637 18.0938C13.1756 18.0271 12.8236 17.8378 12.1169 17.4604C9.92355 16.2871 8.71285 15.0777 7.53949 12.883C7.16215 12.1763 6.97414 11.8243 6.90614 11.363C6.84935 10.9229 6.89498 10.4757 7.03948 10.0563C7.19948 9.61759 7.49816 9.26025 8.09417 8.54423C8.69419 7.82421 8.99419 7.46554 9.15153 7.05886C9.30353 6.66952 9.3622 6.24951 9.3222 5.8335C9.2822 5.39882 9.09153 4.97214 8.71019 4.11612H8.71152Z' stroke='%23D8D8D8' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mail-icon {
    display: inline-block;
    width: 26px;
    height: 21px;
    position: relative;
}

.mail-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 21'%3E%3Cpath d='M4.20001 4.32938L12.444 11.5078C12.528 11.5809 12.672 11.5809 12.756 11.5078L21 4.32938M2.04001 0.600006H23.16C23.952 0.600006 24.6 1.25813 24.6 2.06251V17.175C24.6 18.7838 23.304 20.1 21.72 20.1H3.48001C1.89601 20.1 0.600006 18.7838 0.600006 17.175V2.06251C0.600006 1.25813 1.24801 0.600006 2.04001 0.600006Z' stroke='%23D8D8D8' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round' fill='none'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.place-icon {
    display: inline-block;
    width: 24px;
    height: 31px;
    position: relative;
}

.place-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 31'%3E%3Cpath d='M12 0.400391C18.0846 0.400391 23.5995 5.14418 23.5996 12.5234C23.5996 14.9528 22.6397 17.6444 20.665 20.6084C18.735 23.5054 15.8496 26.6385 12 30.0117C8.15042 26.6385 5.26501 23.5054 3.33496 20.6084C1.36029 17.6444 0.400391 14.9528 0.400391 12.5234C0.400489 5.14418 5.9154 0.400391 12 0.400391ZM12 2.6543C6.74225 2.6543 2.5997 6.77071 2.59961 12.5234C2.59961 14.4159 3.37246 16.5687 4.88477 18.9395C6.39947 21.3139 8.67493 23.9359 11.7275 26.7754L12 27.0293L12.2725 26.7754C15.3251 23.9359 17.6005 21.3139 19.1152 18.9395C20.6275 16.5687 21.4004 14.4159 21.4004 12.5234C21.4003 6.77071 17.2577 2.6543 12 2.6543ZM12 9.56348C13.4222 9.56348 14.5994 10.7521 14.5996 12.2178C14.5996 13.6837 13.4223 14.873 12 14.873C10.5777 14.873 9.40039 13.6837 9.40039 12.2178C9.40061 10.7521 10.5778 9.56348 12 9.56348Z' fill='%23D8D8D8' stroke='%23080808' stroke-width='0.8'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.material-symbols--star-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #FD853A;
}

.mdi--linkedin {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ri--whatsapp-fill {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355L2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10M8.593 7.3l-.2.008a1 1 0 0 0-.372.1a1.3 1.3 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.73 2.73 0 0 0 6.9 9.62c.002.49.13.967.33 1.413c.409.902 1.082 1.857 1.97 2.742c.214.213.424.427.65.626a9.45 9.45 0 0 0 3.84 2.046l.568.087c.185.01.37-.004.556-.013a2 2 0 0 0 .833-.231a5 5 0 0 0 .383-.22q.001.002.125-.09c.135-.1.218-.171.33-.288q.126-.13.21-.302c.078-.163.156-.474.188-.733c.024-.198.017-.306.014-.373c-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.402-.621a.5.5 0 0 0-.176-.041a.48.48 0 0 0-.378.127c-.005-.002-.072.055-.795.931a.35.35 0 0 1-.368.13a1.4 1.4 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.108a6 6 0 0 1-1.575-1.003c-.126-.11-.243-.23-.363-.346a6.3 6.3 0 0 1-1.02-1.268l-.059-.095a1 1 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41c.11-.14.203-.276.263-.373c.118-.19.155-.385.093-.536q-.42-1.026-.868-2.041c-.059-.134-.234-.23-.393-.249q-.081-.01-.162-.016a3 3 0 0 0-.403.004z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.bxl--microsoft-teams {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='20.288' cy='8.344' r='1.707' fill='%23000'/%3E%3Cpath fill='%23000' d='M18.581 11.513h3.413v3.656c0 .942-.765 1.706-1.707 1.706h-1.706zM2.006 4.2v15.6l11.213 1.979V2.221zm8.288 5.411l-1.95.049v5.752H6.881V9.757l-1.949.098V8.539l5.362-.292zm3.899.439v8.288h1.95c.808 0 1.463-.655 1.463-1.462V10.05zm1.463-4.875c-.586 0-1.105.264-1.463.673v2.555c.357.409.877.673 1.463.673a1.95 1.95 0 0 0 0-3.901'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.fluent--navigation-32-regular {
    display: inline-block;
    width: 2048px;
    height: 2048px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='M1024 384v128H0V384zM0 896h2048v128H0zm1024 640v-128h1024v128z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}