/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .container {
        padding: 0px 20px;
    }

    .second-title {
        font-size: 24px !important;
    }

    .section-a {
        padding-top: 87px;
        height: auto !important;
        min-height: calc(100vh - 100px);

        .wrp-content {
            flex-direction: column-reverse;
            padding: 0 !important;

            .first-content {
                align-items: center;

                .first-content-txt-a {
                    font-size: 16px;
                }

                .first-content-txt-b {
                    font-size: 22px;
                }
            }

            .second-content {
                padding-top: 10px;

                .big-title {
                    text-align: center;
                    font-size: 28px;
                }
            }

            .third-content {
                flex-direction: column;
                align-items: center !important;
                gap: 20px;

                &::after {
                    display: none;
                }

                .p-graph {
                    text-align: center !important;
                }

                .count {
                    font-size: 24px !important;
                    text-align: center !important;
                }
            }
        }

        .wrp-avatar-picture {
            max-width: 30vh !important;
            max-height: 30vh !important;
        }
    }

    .section-b {
        .wrp-pills {
            flex-direction: column;
            gap: 0;

            &::after {
                display: none;
            }

            .nav {
                width: 100% !important;
                gap: 20px;

                .nav-link {
                    background: #0000007d;
                    flex-direction: column;
                    border-radius: 20px;

                    &::after {
                        display: none;
                    }

                    .info-pill {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .title-pill {}

                        .p-graph {
                            max-width: none;
                            -webkit-line-clamp: none;
                            text-align: center;
                        }
                    }
                }
            }

            .tab-content {
                width: 100%;
                display: none;
            }
        }
    }

    .section-c {
        .wrp-card-list {
            flex-direction: column;
        }

        .card-itm {
            width: 100% !important;
            display: grid;
            justify-items: center;

            .wrp-img-card {
                height: 250px !important;

                .link-card {
                    width: 100%;
                    height: 100%;
                }
            }

            .title-card {
                font-size: 22px;
            }

            .paragraph-card {
                text-align: center !important;
            }
        }
    }

    .section-d {
        .flex-part {
            flex-direction: column-reverse;
            gap: 100px;

            .part-a {
                width: 100% !important;
            }

            .part-b {
                width: 100% !important;
                gap: 20px;
                align-items: center;
            }

            .bloc-slide-txt {
                padding: 40px 20px !important;
                min-height: 500px !important;

                &::after {
                    background-size: 79%;
                    width: 91.86px;
                    height: 70px;
                }
            }
        }

        .contacts-section {
            align-items: center;
        }

        .domain {
            font-size: 15px !important;
        }

        .content-info-general {
            flex-direction: column;
            align-items: center;

            .info-general {
                display: grid;
                justify-items: center;
            }
        }
    }

    .footer-container {
        .wrp-itm-nv-footer {
            display: none !important;
        }

        .txt-footer {
            .txt-a {
                text-align: center;
            }

            .txt-b {
                text-align: center;
            }
        }
    }
}