/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
  .second-title {
    font-size: 22px !important;
  }
  .p-graph {
    font-size: 14px !important;
    text-align: justify !important;
  }
  .bt {
    font-size: 14px !important;
  }
  .wrp-itm-nv-header {
    gap: 15px !important;
  }
  .wrp-itm-nv-header .link-nv-header {
    font-size: 14px !important;
  }
  .section-a {
    padding-top: 87px;
    height: auto !important;
    min-height: calc(100vh - 80px);
  }
  .section-a .wrp-content {
    flex-direction: column-reverse;
    padding: 0 !important;
  }
  .section-a .wrp-content .first-content {
    align-items: center;
  }
  .section-a .wrp-content .first-content .first-content-txt-a {
    font-size: 18px;
  }
  .section-a .wrp-content .first-content .first-content-txt-b {
    font-size: 18px;
    text-align: center;
  }
  .section-a .wrp-content .second-content {
    padding-top: 10px;
  }
  .section-a .wrp-content .second-content .big-title {
    text-align: center;
    font-size: 24px;
  }
  .section-a .wrp-content .third-content {
    flex-direction: column;
    align-items: center !important;
    gap: 20px;
  }
  .section-a .wrp-content .third-content::after {
    display: none;
  }
  .section-a .wrp-content .third-content .p-graph {
    text-align: justify !important;
  }
  .section-a .wrp-content .third-content .count {
    font-size: 22px !important;
    text-align: center !important;
  }
  .section-a .wrp-content .third-content .label {
    text-align: center;
    font-size: 14px;
  }
  .section-a .wrp-avatar-picture {
    max-width: 25vh !important;
    max-height: 25vh !important;
  }
  .section-b .wrp-pills {
    flex-direction: column;
    gap: 0;
  }
  .section-b .wrp-pills::after {
    display: none;
  }
  .section-b .wrp-pills::before {
    display: none;
  }
  .section-b .wrp-pills .nav {
    width: 100% !important;
    gap: 20px;
  }
  .section-b .wrp-pills .nav .nav-link {
    background: rgba(0, 0, 0, 0.4901960784);
    flex-direction: column;
    border-radius: 20px;
  }
  .section-b .wrp-pills .nav .nav-link .info-pill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-b .wrp-pills .nav .nav-link .info-pill .title-pill {
    font-size: 18px;
  }
  .section-b .wrp-pills .nav .nav-link .info-pill .p-graph {
    max-width: none;
    -webkit-line-clamp: none;
    text-align: center;
  }
  .section-b .wrp-pills .tab-content {
    width: 100%;
    display: none;
  }
  .section-c .wrp-card-list {
    flex-direction: column;
  }
  .section-c .card-itm {
    width: 100% !important;
    display: grid;
    justify-items: center;
  }
  .section-c .card-itm .wrp-img-card {
    height: 250px !important;
  }
  .section-c .card-itm .wrp-img-card .link-card {
    width: 100%;
    height: 100%;
  }
  .section-c .card-itm .domain {
    font-size: 14px !important;
  }
  .section-c .card-itm .title-card {
    font-size: 18px !important;
  }
  .section-c .card-itm .paragraph-card {
    text-align: justify !important;
    font-size: 14px !important;
  }
  .section-d .flex-part {
    flex-direction: column-reverse;
    gap: 100px;
  }
  .section-d .flex-part .part-a {
    width: 100% !important;
  }
  .section-d .flex-part .part-b {
    width: 100% !important;
    gap: 20px;
    align-items: center;
  }
  .section-d .flex-part .bloc-slide-txt {
    padding: 40px 20px !important;
    min-height: 380px !important;
  }
  .section-d .flex-part .bloc-slide-txt::after {
    background-size: 79%;
    width: 91.86px;
    height: 70px;
  }
  .section-d .contacts-section {
    align-items: center;
  }
  .section-d .contacts-section .flex-txt-icon {
    font-size: 14px;
  }
  .section-d .domain {
    font-size: 14px !important;
  }
  .section-d .content-info-general {
    flex-direction: column;
    align-items: center;
  }
  .section-d .content-info-general .info-general {
    display: grid;
    justify-items: center;
  }
  .footer-container .wrp-itm-nv-footer {
    display: none !important;
  }
  .footer-container .txt-footer .txt-a {
    text-align: center;
    font-size: 14px !important;
  }
  .footer-container .txt-footer .txt-b {
    text-align: center;
    font-size: 14px !important;
  }
}

/*# sourceMappingURL=responsive-mobile.css.map */
